<h3 class="text-center mt-2">Geschlossene Kurse</h3>
<hr />

<%= render 'courses/courses_in_groups_of_3', courses: Course.status("closed") %>

<h3 class="text-center mt-2">Vergangene Kurse</h3>
<hr />

<%= render 'courses/courses_in_groups_of_3', courses: Course.past %>
